.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  border: 1px solid black;
  margin-bottom: 10px; }

.row:nth-child(1) .color-1 {
  height: 200px;
  background: #856; }

.row:nth-child(2) .color-1 {
  height: 100px;
  background: #885566; }

.row:nth-child(3) .color-1 {
  height: 100px;
  background: #516087; }

.row:nth-child(4) .color-1 {
  height: 100px;
  background: #674a50; }

.row:nth-child(5) .color-1 {
  height: 100px;
  background: #d55e52; }

.row:nth-child(1) .color-2 {
  height: 200px;
  background: #369; }

.row:nth-child(2) .color-2 {
  height: 100px;
  background: #6a5b78; }

.row:nth-child(3) .color-2 {
  height: 100px;
  background: #336699; }

.row:nth-child(4) .color-2 {
  height: 100px;
  background: #495062; }

.row:nth-child(5) .color-2 {
  height: 100px;
  background: #b86464; }

.row:nth-child(1) .color-3 {
  height: 200px;
  background: #544; }

.row:nth-child(2) .color-3 {
  height: 100px;
  background: #764f5a; }

.row:nth-child(3) .color-3 {
  height: 100px;
  background: #3f5a7b; }

.row:nth-child(4) .color-3 {
  height: 100px;
  background: #554444; }

.row:nth-child(5) .color-3 {
  height: 100px;
  background: #c45846; }

.row:nth-child(1) .color-4 {
  height: 200px;
  background: tomato; }

.row:nth-child(2) .color-4 {
  height: 100px;
  background: #b25a5b; }

.row:nth-child(3) .color-4 {
  height: 100px;
  background: #7a657c; }

.row:nth-child(4) .color-4 {
  height: 100px;
  background: #914f45; }

.row:nth-child(5) .color-4 {
  height: 100px;
  background: tomato; }

button.red {
  background-color: #F00;
  color: #ff8080;
  padding: 10px;
  border-radius: 10px; }
  button.red:hover {
    background-color: #ff8080;
    color: #F00;
    cursor: pointer; }

button.blue {
  background-color: #369;
  color: #79a6d2;
  padding: 10px;
  border-radius: 10px; }
  button.blue:hover {
    background-color: #79a6d2;
    color: #369;
    cursor: pointer; }

button.green {
  background-color: green;
  color: #01ff01;
  padding: 10px;
  border-radius: 10px; }
  button.green:hover {
    background-color: #01ff01;
    color: green;
    cursor: pointer; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
