@import "variables";
@import "mixins";

*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
    }

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  border: 1px solid black;
  margin-bottom: 10px;
}

$color1: #856;
$color2: #369;
$color3: #544;
$color4: tomato;

@include primary ($color1, $color2, $color3, $color4);

@include closehover (red, #F00);
@include closehover (blue, #369);
@include closehover (green, green);

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
